<main class="main">
  <div class="inner">
    
    <% if user_signed_in?  %>
      <div class="greeting">
        
        <%= link_to "ようこそプロトスペースへ、#{current_user.name}さん", root_path, class: :greeting__link %>
      </div>
    
      <div class="card__wrapper">
        <%= render partial: 'prototype',collection: @prototypes %>
      </div>
    
    <% else %>

    <% end %>

  </div>
</main>